<link rel="stylesheet" href="main-dashboard2.page.scss">
<script src="https://kit.fontawesome.com/5ee89e372f.js" crossorigin="anonymous"></script>

<ion-content>

  <div class="flex-box-container
  container
  ion-justify-content-around">
    <div class="flex-container-1
                container">
      <!--Okay na to-->
      <div class="greeting">
        <p>Hello, firstname</p>
        <h2>You've got + current tasks + tasks today</h2>
      </div>

      <div class="tasks-number-container 
      container
      ion-justify-content-evenly">
        <ion-card>
          <ion-card-header>
            <!-- {{task_num}} -->
            <h1>7</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Current Tasks
          </ion-card-content>

        </ion-card>

        <ion-card>
          <ion-card-header>
            <!-- {{total_task_num}} -->
            <h1>7</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Overall Tasks
          </ion-card-content>
          
        </ion-card>

        <ion-card>
          <ion-card-header>
          <!-- {{finished_task_num}}  -->
          <h1>7</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Finished Tasks
          </ion-card-content>
          
        </ion-card>
      </div>

      <div class="container1-tasks">
        <div class="header">
          <h2>Today's Tasks</h2>
          <ion-button>
            <ion-icon name="add" slot="start"></ion-icon>
            Add Task
          </ion-button>
        </div>
          <ion-card>
            <ion-card-content>
              fakfhlasdfjasldkfjaskldf
            </ion-card-content>
          </ion-card>
      </div>
      
    </div>

    <div class="flex-container-2
    container">

      <div class="user-calendar">
        <h2>Firstname + Lastname's Dashboard</h2>
        <div class="myCalendar">
          <ion-datetime></ion-datetime> <!-- Calendar  -->
        </div>
      </div>

      <div class="container2-reminders"> <!-- REMINDER CONTAINER  -->
        <div class="header">
          <h5>Reminders</h5>
          
        </div>

        <div class="reminder-collection">
          <ion-card>
            <ion-card-content>
              fakfhlasdfjasldkfjaskldf
            </ion-card-content>
          </ion-card>
        </div>
      </div>

    </div>

    
  </div>
  
</ion-content>
