.container{
  display:flex;
}

.flex-box-container{
  border: 1px red dashed;

  .tasks-number-container{
    flex-direction: row;
  }

  .flex-container-1,
  .flex-container-2{
    flex-direction: column;
  }
}

.flex-container-1,
.greeting,
.tasks-number-container{
  border: 1px blue dashed;
}

.flex-container-2{
  border: 1px green dashed;
}

.container1-tasks{
  .header{
    display: inline-flex;

  }

  ion-button{
    margin-left: 30px;
  }
}