<link rel="stylesheet" href="main-dashboard2.page.scss">
<script src="https://kit.fontawesome.com/5ee89e372f.js" crossorigin="anonymous"></script>

<ion-content>

  <div class="flex-box-container
  container
  ion-justify-content-around">
    <div class="flex-container-1
                container">
      <!--Okay na to-->
      <div class="greeting">
        <p>Hello, {{first_name}}</p>
        <h2>You've got {{current_tasks}} tasks today</h2>
      </div>

      <div class="tasks-number-container 
      container
      ion-justify-content-evenly">
        <ion-card>
          <ion-card-header>
            <h1>{{current_tasks}}</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Current Tasks
          </ion-card-content>

        </ion-card>

        <ion-card>
          <ion-card-header>
            <!-- {{total_task_num}} -->
            <h1>{{overall_tasks}}</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Overall Tasks
          </ion-card-content>
          
        </ion-card>

        <ion-card>
          <ion-card-header>
          <!-- {{finished_task_num}}  -->
          <h1>{{accomplished_tasks}}</h1>
          </ion-card-header>
          <ion-card-content class="task">
            Finished Tasks
          </ion-card-content>
          
        </ion-card>
      </div>

      <div class="container1-tasks">
        <div class="header">
          <h2>Today's Tasks</h2>
          <ion-button (click)="addTask();">
            <ion-icon name="add" slot="start"></ion-icon>
            Add Task
          </ion-button>
        </div>
        <div class="task_cont">
          <ion-card *ngFor="let task of current" [hidden]="current.length === 0">
            <ion-card-header>
              <ion-input [readonly]="isEditable" [(ngModel)]="task.title" placeholder="Task Title"></ion-input>
              <div class="horizontal-buttons">
                <ion-fab-button size="small" color="primary" (click)="editTask(task)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" color="primary" (click)="deleteTask(task)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" color="primary" (click)="saveTask(task)">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-fab-button>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea [readonly]="isEditable" [(ngModel)]="task.body" placeholder="Enter your task here..."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </div>

      </div>
      
    </div>

    <div class="flex-container-2
    container">

      <div class="user-calendar">
        <h2>{{first_name}} {{last_name}}'s Dashboard</h2>
        <div class="myCalendar">
          <ion-datetime value="calendar_value" presentation="date"></ion-datetime> <!-- Calendar  -->
        </div>
      </div>

      <div class="container2-reminders"> <!-- REMINDER CONTAINER  -->
        <div class="header">
          <h5>Daily Reminder</h5>
          
        </div>

        <div class="reminder-collection">
          <ion-card>
            <ion-card-content>
              <p style="font-style: italic; font-size: 15px;">
                "Courage is not having the strength to go on; it is going on when you don’t have the strength."
              </p>
              - Theodore Roosevelt
            </ion-card-content>
          </ion-card>
        </div>
      </div>

    </div>

    
  </div>
  
</ion-content>
