ul{
    list-style-type: none;
    li{
       
        text-align: left;
    }      
}

ion-split-pane {
    --side-width: 300px;
    --side-max-width: 100%;
  
    --border: 1px dashed #b3baff;
}

ion-item{
    font-size: 1em !important;
}



