ul{
    list-style-type: none;
    li{
        margin: 2.5rem 5rem 1.7rem 2rem; //top right bottom left
        text-align: left;
    }      
}

ion-split-pane {
    --side-width: 350px;
    --side-max-width: 100%;
  
    --border: 1px dashed #b3baff;
}

ion-button{
    font-size: 1em !important;
}



