<ion-split-pane contentId="main">

  <ion-menu contentId="main">
    <ion-content>
      <ion-list lines="none">
        <ion-item button="true" (click)="navigate('/main-dashboard2')" routerLink="/main-dashboard2" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Dashboard
        </ion-item>
      
        <ion-item button="true" (click)="navigate('/to-do')" routerLink="/to-do" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          To-do      
        </ion-item>
      
        <ion-item button="true" (click)="navigate('/notifications')" routerLink="/notifications" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          Notifications
        </ion-item>
      
        <ion-item button="true" (click)="navigate('/notes')"routerLink="/notes" routerDirection="root" routerLinkActive="active-link">
          <ion-icon name="clipboard-outline" slot="start"></ion-icon>
          Notes
        </ion-item>
      </ion-list> 
    </ion-content>     
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>

