<ion-content [fullscreen]="true">
  <div class="notes-container">
    <ion-card class="notes-card" *ngFor="let note of notes" [hidden]="notes.length === 0">
      <ion-card-header>
        <div class="horizontal-buttons">
          <ion-fab-button size="small" color="primary" (click)="editNote(note)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" color="primary" (click)="deleteNote(note)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" color="primary" (click)="saveNote(note)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </div>
        <ion-input [(ngModel)]="note.title" placeholder="Note Title"></ion-input>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea [(ngModel)]="note.body" placeholder="Enter your note here..."></ion-textarea>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="bottom-center">
    <ion-fab-button color="primary" (click)="addNote()">
      +
    </ion-fab-button>
  </ion-fab>
</ion-content>
