@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Styling for the main container
.container {
  display: flex;
  flex-wrap: wrap;
}

// Styling for the main flex container
.flex-box-container {
  flex: 1;

  // Styling for the left flex container
  .flex-container-left {
    flex: 1;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    box-sizing: border-box;

    // Styling for the label section
    .label {
      margin-top: 30px;

      // Styling for the h2 element inside label
      h2 {
        font-size: 30px;
        font-weight: bold;
        margin-left: 30px;
      }
    }

    // Styling for the ion-segment container
    .ion-segment-container {
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid #255ec0;
 
  }
}

  // Media query for smaller screens
  @media (max-width: 768px) {
    .swipe-in {
      .flex-container-right {
        transform: translateX(0);
      }
    }

    // Margin for separation on smaller screens
    .flex-container-left{
      margin-bottom: 20px;
    }
  }

  // Additional media query for even smaller screens
  @media (max-width: 768px) {
    // Adjust maximum width for smaller screens
    .flex-container-left {
      max-width: 100%;
    }

    // Additional mobile space styling
    .additional-mobile-space {
      margin-bottom: 20px;
    }
  }
}

ion-card {
  position: relative;
  border: 2px solid #3880FF;
  margin-bottom: 20px;
  overflow: visible;
  transition: transform 0.3s ease-in-out;

  /* Styles for the notes card */
  &:hover {
    transform: scale(1.02);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  /* Styles for ion-card-header */
  ion-card-header {
    position: relative;
    height: 30px;
    margin-bottom: 8px;
    font-size: 1.4em;
  }

  /* Styles for ion-card-content */
  ion-card-content {
    font-size: 1.9em;
    text-align: justify;
    margin-bottom: 10px;
  }
}