<ion-content>
  <div class="ion-align-items-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log In</ion-card-title>
      <ion-card-subtitle>Welcome back! Please login to your account.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-label position="floating" for="email">Enter Email:</ion-label>
          <ion-input type="email" name="email" required></ion-input>
       
          <ion-label position="floating" for="password">Enter Password:</ion-label>
          <ion-input type="password" name="password" required></ion-input>

          <ion-button expand="full" type="submit">Log In</ion-button>
          <p>Does not have an account? <a href="signup/signup.page.html">Sign Up</a></p>
      </form>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
